
<!--<table>
  <caption>Case Search</caption>
  <thead>
    <tr>
      <th scope="col">CASE ID</th>
      <th scope="col">CASE NAME</th>
      <th scope="col">CASE TYPE</th>
      <th scope="col">CASE DESCRIPTION</th>
        <th scope="col">ROLE</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let case of caseList'>
      <ng-container *ngIf="case.id==searchobj.caseId || case.name.toLowerCase().indexOf(searchobj.caseName)>-1 || case.type.toLowerCase().indexOf(searchobj.caseType)>-1">
      <td data-label="CASE ID">{{case.id}}</td>
      <td data-label="CASE NAME">{{case.name}}</td>
      <td data-label="CASE TYPE">{{case.type}}</td>
      <td data-label="CASE SEARCH">{{case.description}}</td>
      <td data-label="ROLE">standard</td>
      </ng-container>
    </tr>

  </tbody>
</table>-->

<div class="example-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> CASE ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> CASE NAME </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> CASE TYPE </th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> CASE DESCRIPTION</th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

  <!--  <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <div class="button-row">
          <button  mat-raised-button color="primary" [disabled]="loading ">
              <i class="fa fa-edit " *ngIf="!loading"></i>
              <i class="fa fa-spinner fa-spin " *ngIf="loading"></i>
            </button>
          <button mat-raised-button color="primary" (click)="deleteProject(element._id)" [disabled]="loading">
              <i class="fa fa-trash " *ngIf="!loading"></i>
              <i class="fa fa-spinner fa-spin " *ngIf="loading"></i>
            </button>
        </div>
        </td>
    </ng-container>-->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
